*/registro
*/pesquisa_binaria
*/selecao_recursiva
*/shellsort
*/quicksort
*/bolha
*/radixsort
*/insercao_parcial
*/heapsort_parcial

*/grid_de_largada

compile_commands.json

.cache/
*.o
*.class
pubs.*
teste.*
*.txt
